paths:
  - dev-ops/common/actions

const:
  DB_USER: "app"
  DB_PASSWORD: "app"
  DB_HOST: "mysql"
  DB_NAME: "shopware"
  SW_HOST: "10.100.111.46"
  SWVERSION: "latest"

dynamic:
  USERKEY: echo "$(id -u):$(id -g)"
  APP_ID: docker-compose ps -q app_server
  MYSQL_ID: docker-compose ps -q app_mysql
  ES_ID: docker-compose ps -q app_es
  REDIS_ID: docker-compose ps -q app_redis

environments:
  docker:
    paths:
      - "dev-ops/docker/actions"