paths:
  - dev-ops/common/actions

const:
  DB_USER: "app"
  DB_PASSWORD: "app"
  DB_HOST: "mysql"
  DB_NAME: "shopware"
  SW_HOST: "localhost:8083"
  SW-BRANCH: "5.4"
  SW-VERSION: "latest"

dynamic:
  USERKEY: echo "$(id -u):$(id -g)"
  APP_ID: docker-compose ps -q app_server
  MYSQL_ID: docker-compose ps -q app_mysql
  ES_ID: docker-compose ps -q app_es
  REDIS_ID: docker-compose ps -q app_redis
  DOCKER_HTTP_PROXY: echo $HTTP_PROXY

environments:
  docker:
    paths:
      - "dev-ops/docker/actions"
